* {
    font-family: "Cabin", Arial, sans-serif;
    box-sizing: border-box;
    scroll-behavior:smooth !important;
    margin: 0;
    padding: 0;
}

.git-name:hover  {
    color: #A39BAC;
}

.footer-TRSS:hover, .git-name:hover {
    filter: invert(68%) sepia(10%) saturate(357%) hue-rotate(226deg) brightness(92%) contrast(86%);
}

body {
    background-color: #f5f5f5;
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #b8b0b0;
    width: 400px;
    height: 600px;    
}

.btn-img, .play-btn {
    width: 50px;
    height: 50px;
    background-color: #b8b0b0;
}
button {
    border: none;
    background-color: #b8b0b0;
}

button:hover, .bar:hover {
    cursor: pointer;    
}

.btn-img:hover, .play-btn:hover {
    background-color: #A39BAC;
}

.title {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0; 
}

.music-name {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
}

.music-img {
    width: 350px;

}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px auto;
    width: 60vw;
}

footer img {
    vertical-align: middle;
    padding-right: 5px;
}

.bar {
    position: relative;
    width: 280px;
    height: 5px;
    justify-self: center;
    border: 3px solid #595757;
    margin-top: 10px;    
}

.time {
    position: absolute;
    border: 3px solid #000;
    height: 100%;
}

