body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    
}
a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
main {
    flex-grow: 1;
    padding: 10px;
    
}

input[type="submit"] {
    margin-left: 10px;
}

input[type="number"] {
    margin-left: 5px;
    background-color: #eee;	
	outline: none;	
	width: 75px;
    height: 25px;
	box-sizing: border-box;
	border: 1px solid #ddd;	
	border-radius: 3px;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

input[type="number"]:invalid+span:after {
	content: '✖';
	padding-right: 15px;
	color: red;
}

input[type="number"]:valid+span:after {
	content: '✓';
	padding-right: 15px;
	color: green;
}

.game {   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 15px;
    max-width: 1000px;    
    margin: 25px auto;

}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    padding: 30px;
    color: white;
    background-color: rgb(112, 112, 112);
    font-size: 0;
    color: transparent;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color .3s;
}

.cards:hover {
    background-color: rgb(71, 70, 69);
}

.cards:active {
    background-color: rgb(71, 70, 69);
}

.open {
    font-size: 36px;
    color: rgb(0, 0, 0);
    background-color: rgb(4, 46, 5);
    cursor: default;
}

.open:hover{
    background-color: rgb(4, 46, 5);
}

.open:active{
    background-color: rgb(4, 46, 5);
}

.final {
    font-size: 36px;
    color: white;
    background-color: #0a800e;
    cursor: default;
}

.final:hover{
    background-color: #0a800e;
}

.final:active{
    background-color: #0a800e;
}

footer {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    

}

footer img {
    vertical-align: middle;
    padding-right: 5px;
}

.footer-TRSS:hover, .git-name:hover {
    filter: invert(68%) sepia(10%) saturate(357%) hue-rotate(226deg) brightness(92%) contrast(86%);
}
