.dropMenu {
    position: absolute;
    right: 20px;
    top: 59px;
    background-color: #fff;
    width: 80px;
    height: 115px;
    border: 1px;
    display: none;
}

.dropMenu.open {
    display: block;
}

.profile {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    text-align: center;
    margin-top: 5px;

}

.profile::after {
    content: "";
    display: block;
    width: 40px;
    flex-shrink: 0;
    border-bottom: 1px solid #BB945F;;
    margin: 0px auto 0px auto;    
}
.auth {
    margin-top: 15px;
    align-items: center;    
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn_profile {    
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    border: none;
    background: #fff;
    padding: 0;
}

.no  {
    display: flex;
}

.with {
    display: none;
}

.ico_profile:hover {
    filter: brightness(0) saturate(100%) invert(61%) sepia(30%) saturate(590%) hue-rotate(355deg) brightness(95%) contrast(82%);
    -webkit-filter: brightness(0) saturate(100%) invert(61%) sepia(30%) saturate(590%) hue-rotate(355deg) brightness(95%) contrast(82%);
} 

/* модальные */
.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    cursor: pointer;
}

.modal.open {
    display: flex;
}

.modal__x {
    background-image: url('./assets/img/close_btn.svg');
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal__x:hover {
    filter: brightness(0) saturate(100%) invert(61%) sepia(30%) saturate(590%) hue-rotate(355deg) brightness(95%) contrast(82%);
    -webkit-filter: brightness(0) saturate(100%) invert(61%) sepia(30%) saturate(590%) hue-rotate(355deg) brightness(95%) contrast(82%);
}

.modal_logIn {
    position: relative;
    margin: auto;
    width: 250px;
    height: 262px;
    background: #fff;
    padding: 20px 15px;
    cursor: default;
    /* visibility: hidden;
    display: none; */
}

.modal-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10px;
}

.modal-title {
    color: #000;
    text-align: center;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 0.4px;
    text-transform: uppercase; 
    margin-bottom: 10px;
}

.modal-text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    letter-spacing: 0.3px;  
    margin: 10px 0;
}

.btn_logIn, .btn_signUp {
    margin: 20px 0 10px 0;
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    background: #fff;
}

.modal-text_info {
    color: #000;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal-link {
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-decoration-line: underline;
    padding-left: 10px;
}

.modal_Register {
    width: 250px;
    height: 382px;
    background: #fff;
    padding: 20px 15px;
    display: none;
    
}

.modal-input {
    display: block;
    width: 200px;
    height: 20px;
    flex-shrink: 0;
    border: 1px solid #BB945F;
    border-color: #BB945F;
    outline: none;
}

.modal_profile {
    display: flex;

    width: 600px;
    height: 400px;
    background: #FFF;
}

.name-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 15px;
    width: 170px;
    height: 403px;
    flex-shrink: 0;
    background: #0C0C0E;
}

.img-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    background: #FFF;    
}

.img_user-name {
    color: #BB945F;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    text-transform: capitalize;
}

.text-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    flex-shrink: 0;
    background: #FFF;    
    text-align: center;
}

.user-name {
    color: #000;    
    text-align: center;    
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    text-transform: capitalize;
}

.my-profile-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.my-profile-name {
    width: 207px;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 50% */
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin: 40px 25px 40px 20px;
}

.profile-box {
    margin-left: 20px;
    margin-bottom: 39px;
}

.card-profile {
    display: flex;    
    width: 237px;
    gap: 20px;
    margin-bottom: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    gap: 10px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

.info-img {
    width: 20px;
    height: 21px;
}

.qty {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 200% */
    letter-spacing: 0.2px;
    text-transform: capitalize;   
}

.rented_book {
    display: block;
}

.rented-books-name {
    color: #0C0C0E;
    margin-bottom: 30px;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 80% */    
}

.rented_book_list {
    display: flex;
    flex-direction: column;
    margin-left: 31px;
    gap: 10px;
    /* overflow-x: auto; */
    
}

.rented_book_item {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;  
}

.profile_card-numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 281px;
    gap: 15px;
    margin-top: 40px;
    
}

.text_card-number {
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */    
}

.profile_CN {
    color: #BB945F;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
}

.icon-copy {
    display: inline-block;
    background-image: url('./assets/img/icon-copy.svg');
    width: 13.31px;
    height: 12px;
}

.icon-copy:hover {    
    filter: brightness(0) saturate(100%) invert(61%) sepia(30%) saturate(590%) hue-rotate(355deg) brightness(95%) contrast(82%);
    -webkit-filter: brightness(0) saturate(100%) invert(61%) sepia(30%) saturate(590%) hue-rotate(355deg) brightness(95%) contrast(82%);
}

.btn_profile:hover, .btn_logIn:hover, .btn_signUp:hover {
    background-color: #BB945F;
    border: 0;
}

.modal-link:hover {
    color: #BB945F;
}

@media (max-width: 1024px) {
    .dropMenu {
        right: 105px;
    }
}