* {
    font-family: "Inter", Verdana, sans-serif;
    box-sizing: border-box;
    scroll-behavior:smooth !important;
    color: #000;
}
body {
    margin: 0;
    padding: 0;
    background: rgb(99, 95, 95);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h2, h4, .welcom-text {
    font-family: "Forum", Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, ul, li, a, p {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h1 {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.60px;
}

h2 {
    color: #0C0C0E; 
    font-size: 40px;    
    font-weight: 400; 
    line-height: 40px; 
    letter-spacing: 2px;
    margin: 20px auto 19px;
}

.h2-line {
    background: #0C0C0E;
    width: 50px;
    height: 1px;
    margin: 0 auto;
}

h3 {
    font-size: 20px;
    font-family: "Inter";
    font-weight: 700;
    word-wrap: break-word;
    margin: 0 0 40px 0;
}

.staff-picks {
    font-family: "Forum", Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 40px;
    letter-spacing: 2px;
    word-wrap: break-word;
    margin: 15px 0 0 20px;
}

.main, .main-header, .main-footer {
    padding: 0 20px;
}
.section-title {
    display: flex;
    flex-direction: column;
    height: 80px;
    margin-bottom: 40px;
}

.wrapper {

    max-width: 1440px;
    background: white;
}

.main-header {
    background: #0C0C0E;
    color: white;
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-between;
}

.menu-head {
    display: flex;
    align-items: center;    
}

.menu {
    display: flex;
    align-items: center;
    padding: 0;
}

.menu-element {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px 0 0;
}

.menu a {
    padding: 0px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    line-height: 50px;
    word-wrap: break-word;
}

.menu-element:last-child {
    margin-right: 0px;
}

.user-account {
    width: 28px;
    height: 28px;
    margin: 31px 0px 31px 40px;
}

.ico_profile {
    background-image: url(./assets/img/icon_profile.svg);
    display: inline-block;
    width: 28px;
    height: 28px;
}

.Welcome {
    width: 1440px;
    height: 600px;
}
.welcome-img {
    background-image: url(./assets/img/welcome.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.gradient {
    width: 1440px; 
    height: 600px; 
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0%, rgba(18.33, 18.33, 21.25, 0.10) 50%);
    display: flex;
}

.welcome-content {
    width: 600px; 
    height: 220px; 
    padding: 35px 40px;
    background: #0C0C0E; 
    margin-top: 220px;
}
.welcom-text {
    width: 520px; 
    text-align: center; 
    color: white; 
    font-size: 40px; 
    font-weight: 400; 
    text-transform: uppercase; 
    line-height: 50px; 
    letter-spacing: 3px; 
    word-wrap: break-word;
}

.text-about {
    width: 100%; 
    text-align: center; 
    font-size: 20px;  
    font-weight: 400; 
    line-height: 40px; 
    margin-bottom: 20px;
    word-wrap: break-word;
}

.about-gallery {
    display: flex;
    justify-content: space-between
}

.img_about-gallery {
    width: 450px; 
    height: 560px;
}

.carousel-wrapper {
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel_pagination {
    display: flex;
    width: 78px;
    height: 26px;
}

.box {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #0C0C0E; 
    cursor: pointer;
}

.dot.active {
    background-color: #BB945F;
}

.seasons {
    display: flex;
    width: 700px;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
    justify-content: space-between;
    margin-bottom: 40px;
}

/*.group-seasons {
    padding: 0px 5px 5px 0;
}*/

.filter-seasons {
    display: flex;
    flex-direction: row;
    height: 28px;
    position: relative;
    align-items: center;
}

/*.filter-seasons input {
    width: 0;
	height: 0;
	position: absolute;
    opacity: 0;
    z-index: -1;
}*/

.seasons-radio-text {
    padding-left: 20px;
    cursor: pointer;
}

/*.radio {
    display: inline-block;
    position: relative;
    width: 17px;
    height: 17px;
    border-radius: 9999px; 
    border: 2px black solid;
    vertical-align: text-top;
}

.radio::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    background: #000;
    border-radius: 9999px;
    position: absolute;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.radio-button:checked + .radio::before {
    display: block;
}*/

.radio-button {
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    outline: none;
    border: 2px solid #000;
    padding: 3px; 
    margin: 0;
    cursor: pointer;
  }
  
.radio-button:checked {
    border-color: #000;
    background: #000 content-box;

}

.filter-seasons input:checked + .radio +.seasons-radio-text {
    font-weight: 700;
}

.favorites-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.favorites-book {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 555px;
    border: 0.50px solid black; 
    margin-bottom: 40px;
    margin-right: 40px;
    position: relative;
}

.staff-picks-line {
    border: 0.50px solid #BB945F;
    width: 60px;
    height: 1px;
    margin: 0 20px 20px;
}

.book-img {
    width: 200px;
    height: 300px;
    position: absolute;
    bottom: -0.50px;
    right: -40px;
}

.book_button {
    width: 75px; 
    height: 30px;
    border-radius: 2px; 
    border: 0.50px solid #0C0C0E;
    margin-left: 20px;
    background-color: white;
    color: #0C0C0E;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    word-wrap: break-word;
}

.book_button[disabled] {
    width: 75px; 
    height: 30px;
    border-radius: 2px; 
    color: #BB945F;
    border: 0.50px solid #BB945F;
    background-color: white;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    word-wrap: break-word
}

.book-name {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 2px;
    word-wrap: break-word;
    margin-left: 20px;
}

.book-author {
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 40px;
    letter-spacing: 2px;
    word-wrap: break-word;
    margin-left: 20px;
}

.book-description {
    width: 355px;
    height: 320px;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 40px;
    letter-spacing: 2px;
    word-wrap: break-word;
    margin: 20px 0 15px 20px;
}

.spring-content, .summer-content, .autumn-content {
    display: none;
}

.text-cofeeshop {
    width: 100%; 
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    word-wrap: break-word;
    text-align: center;
    margin: 40px 0;
}

.CofeeShop-menu {
    display: flex;
    justify-content: space-between;
    height: 520px;
}

.CofeeShop-name {
    color: #BB945F;
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 40px;
    letter-spacing: 2px;
    word-wrap: break-word;
}

.coffee-tea {
    display: flex;
    flex-direction: column;
    width: 438px;
    align-items: flex-start;
    gap: 40px;
}

.desserts {
    display: flex;
    flex-direction: column;
    width: 438px;
    align-items: flex-end;
    gap: 40px;
}

.CofeeShop-items-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.CofeeShop-item-name {
    width: 199px;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;     
}

.CoffeeShop-item-line {
    width: 100px;
    height: 1px;
    background: #BB945F;
}

.CoffeeShop-item-prise {
    color: #000;
    font-family: "Forum";
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.CofeeShop-items-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 60px; 
    width: 480px;
}

.CofeeShop-item-name-right {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;     
}

.contacts-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.contact {}

.map {
    width: 696px;
    height: 414px;
}

.contact {
    box-sizing: border-box;
    text-align: left;
    margin-top: 20px;
}